@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* shared */
		--radius: 0.5rem;
		--ring-width: 2px;
		--ring-offset: 2px;
		--border-width: 2px;
		--active-pressed-scale: 0.97;
		--screen-xs: 480px;
		--screen-sm: 640px;
		--screen-md: 768px;
		--screen-lg: 1024px;
		--screen-xl: 1280px;
		--screen-2xl: 1536px;
		--duration-fast: 150ms;
		--duration-fast-medium: 200ms;
		--duration-faster-medium: 250ms;
		--duration-medium: 300ms;
		--duration-medium-slow: 350ms;
		--duration-medium-slower: 400ms;
		--duration-slow: 400ms;
		--timing-function: cubic-bezier(0.16, 1, 0.3, 1);
		--top-loader: 230, 230, 230;

		/* light base colors */
		--background: 255, 255, 255;
		--foreground: 0, 0, 0;
		--mode: 255, 255, 255;
		--mode-foreground: 0, 0, 0;
		--mode-contrast: 10, 10, 10;
		--mode-contrast-foreground: 255, 255, 255;
		--mode-accent: 235, 235, 235;
		--mode-accent-foreground: 10, 10, 10;
		--mode-contrast-accent: 41, 41, 41;
		--mode-contrast-accent-foreground: 255, 255, 255;
		--neutral: 64, 64, 191;
		--neutral-foreground: 10, 10, 10;
		--ring-color: 38, 113, 145;
		--primary: 38, 113, 145;
		--primary-foreground: 250, 250, 250;
		--secondary: 102, 51, 153;
		--secondary-foreground: 250, 250, 250;
		--destructive: 243, 18, 96;
		--destructive-foreground: 250, 250, 250;
		--success: 34 197 94;
		--success-foreground: 10, 10, 10;
	}

	[data-theme="dark"] {
		/* dark base colors */
		--background: 10, 10, 10;
		--foreground: 255, 255, 255;
		--mode: 10, 10, 10;
		--mode-foreground: 255, 255, 255;
		--mode-contrast: 255, 255, 255;
		--mode-contrast-foreground: 10, 10, 10;
		--mode-accent: 41, 41, 41;
		--mode-accent-foreground: 255, 255, 255;
		--mode-contrast-accent: 235, 235, 235;
		--mode-contrast-accent-foreground: 10, 10, 10;
		--mode-accent-high: 64, 64, 64;
		--mode-contrast-accent-high: 191, 191, 191;
		--neutral: 87, 87, 87;
		--neutral-foreground: 255, 255, 255;
		--ring-color: 0, 112, 240;
		--primary: 0, 112, 240;
		--primary-foreground: 250, 250, 250;
		--secondary: 102, 51, 153;
		--secondary-foreground: 250, 250, 250;
		--destructive: 243, 18, 96;
		--destructive-foreground: 250, 250, 250;
		--success: 34 197 94;
		--success-foreground: 10, 10, 10;
	}

	/* global styling */

	html {
		min-height: 100vh;
	}

	body {
		min-height: 100%;
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		background-image: linear-gradient(to bottom, #5594bc, transparent);
		background-size: cover;
		background-repeat: repeat;
		background-position: center;
		min-height: 100vh;
	}

	html[data-theme="dark"] > body {
		background-color: rgb(10, 10, 10);
		color: rgb(255, 255, 255);
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0) 30%,
				rgba(0, 0, 0, 0.45) 50%,
				rgba(0, 0, 0, 0.85) 100%
			), url("../../public/image/sky.webp");
	}

	html[data-animation="disabled"] * {
		animation-duration: 0ms !important;
		transition-duration: 0ms !important;
	}

	::selection {
		background: rgb(var(--primary));
		color: rgb(var(--primary-foreground));
	}

	li {
		list-style: none;
		padding: 0;
	}
}
